[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"

[dev-packages]
wheel = "*"
twine = "*"
django = "*"
coverage = "*"

[requires]
python_version = "3.6"
